# Environment variables
.env

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Alembic
alembic/versions/*
!alembic/versions/.gitkeep

# Игнорирование папки node_modules в frontend
app/frontend/node_modules/

# Игнорирование файла package-lock.json
app/frontend/package-lock.json